<div class="center hero-unit">
  <h1>Welcome to Super Zapatos</h1>

  <h2>
  	Admin application to manage articles and stores in a better, easy and faster way.
  </h2>

  <%= link_to "Create Store", new_store_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Create Article", new_article_path, class: "btn btn-large btn-primary" %>
</div>