<div class="center hero-unit">
  <h1>Bienvenido a Super Zapatos</h1>

  <h2>
    Aplicación administrativa para manejar los artículos y tiendas de manera fácil y rápida.
  </h2>

  <%= link_to "Crear Artículo", "#", class: "btn btn-large btn-primary" %>
  <%= link_to "Crear Tienda", "#", class: "btn btn-large btn-primary" %>
</div>