<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Super Zapatos", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "New Store", new_store_path %></li>
          <li><%= link_to "New Article", new_article_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>